<% const content = `
  <main>
    <h1>Files Not Found</h1>
    <p>This file share has been deleted or never existed.</p>
    <p><a href="/files/new">Share new files</a></p>
    <p><a href="/">Back to home</a></p>
  </main>
` %>
<%- include('../layout', { content, title }) %>
